<module xmlns="urn:jboss:module:1.5" name="org.jgroups">

    <resources>
        <resource-root path="jgroups-3.6.13.Final.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jgroups.azure"/>
        <module name="org.jgroups.kubernetes"/>
    </dependencies>
</module>
